@page "/create"
@inject WebMoodle.Client.Services.IMoodleService MoodleService
@inject NavigationManager NavigationManager

<h3>Create New </h3>
<EditForm Model="@newMoodlePost" OnValidSubmit="CreateNewMoodlePost">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="title">Title</label>
        <InputText id="title" @bind-Value="newMoodlePost.Title" class="form-control" />
        <ValidationMessage For="@(() => newMoodlePost.Title)" />
    </div>
    <div class="form-group">
        <label for="url">Url</label>
        <InputText id="url" @bind-Value="newMoodlePost.Url" class="form-control" />
        <ValidationMessage For="@(() => newMoodlePost.Url)" />
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <InputText id="description" @bind-Value="newMoodlePost.Description" class="form-control" />
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <InputTextArea id="content" @bind-Value="newMoodlePost.Content" class="form-control" />
    </div>
    <div class="form-group">
        <label for="date">Date</label>
        <InputDate id="date" @bind-Value="newMoodlePost.DateCreated" class="form-control" />
    </div>
    <div class="form-check">
        <InputCheckbox id="isPublished" @bind-Value="newMoodlePost.IsPublished" class="form-check-input" />
        <label for="isPublished">Publish</label>
    </div>
    <button type="submit" class="btn btn-dark">Create</button>
    <ValidationSummary />

</EditForm>

@code {
    WebMoodle.Shared.MoodlePost newMoodlePost = new WebMoodle.Shared.MoodlePost();

    void CreateNewMoodlePost()
    {
        Console.WriteLine("Announce it");
    }

}
